@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">
        <div>
            <label id="message" class="text-danger"></label>
            <br />
        </div>
        <table class="table">
            <tbody>
                <tr data-row="1">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>

                <tr data-row="2">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>

                <tr data-row="3">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>

                <tr data-row="4">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>

                <tr data-row="5">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>

                <tr data-row="6">
                    <td data-col="1">
                        <div class="blank"></div>
                    </td>
                    <td data-col="2">
                        <div class="blank"></div>
                    </td>
                    <td data-col="3">
                        <div class="blank"></div>
                    </td>
                    <td data-col="4">
                        <div class="blank"></div>
                    </td>
                    <td data-col="5">
                        <div class="blank"></div>
                    </td>
                    <td data-col="6">
                        <div class="blank"></div>
                    </td>
                    <td data-col="7">
                        <div class="blank"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <div class="text-center">
            <div class="pull-left" id="red">
                <div class="player-turn mini-red-token pull-left">

                </div>
                <span class="pull-left player-turn-text">&nbsp;&nbsp; Player 1</span>
            </div>
            <div class="pull-left" id="yellow" style="display:none;">
                <div class="player-turn mini-yellow-token pull-left">

                </div>
                <span class="pull-left player-turn-text">&nbsp;&nbsp; Player 2</span>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" onclick="newgame()"> New Game</button>
        </div>
    </div>
</div>